const path = require("path")

const MODE = process.env.NODE_ENV ? process.env.NODE_ENV : "develop"

module.exports = {
    mode : MODE,
    compiler : {
        name : "solc",
        version : "x.x.x"
    },
    log : {
        level : "info",
        path : path.join(__dirname, "./logs/scsvm.log")
    },
    swc : [x]
}